<?xml version="1.0"?>
<launch>

  <!-- set environemnt variables -->
  <env name="GAZEBO_MODEL_PATH" value="$(find sjtu_drone)/models:$GAZEBO_MODEL_PATH"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find sjtu_drone):$GAZEBO_RESOURCE_PATH"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="recording" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="$(find sjtu_drone)/worlds/garching_kitchen.world"/>

  <!-- set command arguments -->
  <arg unless="$(arg paused)" name="command_arg1" value=""/>
  <arg if="$(arg paused)" name="command_arg1" value="-u"/>
  <arg unless="$(arg recording)" name="command_arg2" value=""/>
  <arg if="$(arg recording)" name="command_arg2" value="-r"/>
  <arg unless="$(arg verbose)" name="command_arg3" value=""/>
  <arg if="$(arg verbose)" name="command_arg3" value="--verbose"/>
  <arg unless="$(arg debug)" name="script_type" value="gzserver"/>
  <arg if="$(arg debug)" name="script_type" value="debug"/>

  <!-- start gzserver and load the map -->
  <node name="gazebo" pkg="sjtu_drone" type="start_gzserver" args="$(arg world_name)" respawn="false"/>

  <!-- start gzclient -->
  <node name="gui" pkg="sjtu_drone" type="start_gui" args="$(arg world_name)" respawn="false"/>

  <!-- Spawn simulated quadrotor uav -->
  <node name="spawn_drone" pkg="sjtu_drone" type="spawn_drone" respawn="false"/>

  <!-- start keyboard control ui -->
  <node name="drone_keyboard" pkg="sjtu_drone" type="drone_keyboard" respawn="false"/>

  <!-- start image view ui -->
  <node name="front_image_view" pkg="image_view" type="image_view" args="image:=/drone/front_camera/image_raw" respawn="false"/>
  <node name="down_image_view" pkg="image_view" type="image_view" args="image:=/drone/down_camera/image_raw" respawn="false"/>

</launch>
